@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred-background {
    background-image: url('/bitcoinadultanime.jpg');
    background-size: cover;
    background-position: center center;
}