@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred-background {
    background-image: url('/bitcoinadultanime.png');
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}